<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>

  </head>

  <header>
    <div class="container-logo">
      <div class="logo"><img src="" alt="" /></div>
      <a href="/" class="texto-logo">Memorial da baía de Vitória</a>
    </div>

    <div class="container-anos">
      <ul>
        <li><a href="/anos/1700">até 1800</a></li>
        <li><a href="/anos/1800">até 1900</a></li>
        <li><a href="/anos/1900">1900</a></li>
        <li><a href="/anos/1910">1910</a></li>
        <li><a href="/anos/1920">1920</a></li>
        <li><a href="/anos/1930">1930</a></li>
        <li><a href="/anos/1940">1940</a></li>
        <li><a href="/anos/1950">1950</a></li>
        <li><a href="/anos/1960">1960</a></li>
        <li><a href="/anos/1970">1970</a></li>
        <li><a href="/anos/1980">1980</a></li>
        <li><a href="/anos/1990">1990</a></li>
      </ul>
    </div>
  </header>

  <div class="container_meio">

    <aside class="barralateral">
      <a class="opcao" href="#">Inicio</a>
      <a class="opcao" href="#">Local</a>
      <a class="opcao" href="#">Data</a>
      <a class="opcao" href="#">Iconografia</a>
      <a class="opcao" href="#">Autor</a>
      <a class="opcao" href="#">Fonte</a>
      <a class="opcao" href="#">Créditos</a>
      <a class="opcao" href="#">Ajuda</a>
    </aside>

    <main>{{{body}}}</main>
  </div>
</html>