<h2>Memorial da Baía de Vitória</h2>
<p class="descricao">
  A história do estado do Espírito Santo, iniciou-se na Baía de Vitória no
  século XVI. Esta baía tem uma forma de canal, e por isso já foi considerada o
  estuário do Rio Santa Maria. Porém, em 1943, concluiu-se ser uma baía. Ela
  localiza-se entre os municípios de Vitória (1551), Vila Velha (1535),
  Cariacica e Serra. A baía de Vitória é precedida pela Baía do Espírito Santo,
  situada entre o porto do Tubarão (ao norte da parte continental de Vitória) e
  o Morro de Santa Luzia (ao sul, no município de Vila Velha). A partir Morro do
  Moreno, localizado próximo à enseada de Vila Velha, tem início a barra extensa
  da entrada da baía de Vitória. O seu canal se estende no sentido leste-oeste
  com profundidade variando entre 5 e 25 metros. O canal forma um porto natural,
  onde se situam os Portos de Vitória (iniciado em 1911 concluído em 1940) ,
  Capuaba (inaugurado em 1978) e Paul. Os lugares de destaque da Baía de Vitória
  são o Morro do Convento da Penha, a garganta do Penedo, que se situam em Vila
  Velha, e o centro de Vitória. A parte posterior da Baía de Vitória é
  denominada de Lameirão, situado na desembocadura do Rio Santa Maria. A Baía de
  Vitória continua tendo uma forma irregular, apesar dos aterros constantes e a
  descaracterização das restingas e mangues.</p>